{% extends "AppBundle:Client:layout.html.twig" %}

{% block content %}
    {{include('AppBundle:Client:client_detail.html.twig',{ 'entity': entity})}}
    
    
    <div class='col-sm-3 line-bottom'>
        <a href="{{ path('client') }}">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden=""true"></span> Back to the list
        </a>
    </div>
            <div class='col-sm-6'></div>
    <div class='col-sm-3'>                
        <ul class='list-inline'>
            <li>
                <a href="{{ path('client_edit', { 'id': entity.id }) }}">
                    <button type="button" class="btn btn-primary">            
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    </button>
                </a>
            </li>
            <li>
                 <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                  Supprimer
                </button>
            </li>
        </ul>
    </div>
    
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Etes-vous sûr de vouloir confirmer votre suppression</p>
      </div>
      <div class="modal-footer">
        <ul class="list-inline">
            <li>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </li>
            <li>
                {{ form_start(delete_form) }}  
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Supprimer</button>
                {{ form_end(delete_form) }}
            </li>
        </ul>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{%block column_list%}active{%endblock%}
{%block column_add%}{%endblock%}