{% extends "::base.html.twig" %}

{% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="{{ asset("/bundles/app/css/template.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/app/css/style.css") }}">
<link rel="stylesheet" href="{{ asset("/bundles/app/css/datepicker.css") }}">




{% endblock %}

{% block title '' %}

{% block body %}

    {% block content_header %}
        <nav id="top-nav" class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header col-sm-2">
              <a class="navbar-brand" href="/"  width='150px'><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Sofitech</a>
            </div>
            <div class="col-sm-8">
              <ul class="nav navbar-nav">
            {% block content_header_more %}
                <li class="{%block selected_page_student %}{%endblock%}"><a href="/student" >Gestion des personnes</a></li>
                <li class="{%block selected_page_teacher %}{%endblock%}"><a href="/category" >Gestion des formations</a></li>
                <li class="{%block selected_page_client %}{%endblock%}"><a href="/event">Gestion des session</a></li>
                     
            {% endblock %}  
              </ul>
            </div>
               
            <div class="navbar-right col-sm-2 signin">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        <button type="button" class="btn btn-link navbar-btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Déconnexion</button>
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}"><button type="button" class="btn btn-link navbar-btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Connexion</button></a>
                {% endif %}
              
            </div>
          </div>
        </nav>
    {% endblock %}

<div class="container">    

    <div class="row">
        <div class="col-sm-2 menu-vertical">
            <ul class="nav nav-stacked">
        {% block column_left %}

         {% endblock %} 

            </ul>
        </div>



        <div class="col-sm-10">
            {% block sub_content_header_more %}  
            {% endblock %} 
            {% block content %}

            {% endblock %}
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Javascript pour DatePicker-->
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript"> 
       $(".datepicker").datepicker({ 
           autoclose: true, 
           todayHighlight: true, 
           orientation: "top", 
           isRTL: false, 
           language: "FR" , 
           weekStart:1 , 
           format : "dd/mm/yyyy"           
       }).on('changeDate',function(){
           $(".datepicker").datepicker('hide')
       });
    </script> 
{% endblock %}