<table class="table table-condensed">
    <tbody>
        <tr>
            <th>Numéro</th>
            <td>{{ entity.num }}</td>
        </tr>
        <tr>
            <th>Voie</th>
            <td>{{ entity.voie }}</td>
        </tr>
        <tr>
            <th>Code Postal</th>
            <td>{{ entity.cp }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ entity.town }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ entity.country }}</td>
        </tr>
    </tbody>
</table>
