{% extends "AppBundle:Event:layout.html.twig" %}

{% block content -%}
    <h1>Event creation</h1>

    {{ form_start(form) }}
        <div class="form-horizontal">
            {% for item in form  if item.vars['name'] != '_token' and item.vars['name'] != 'address' %}
                <div class="form-group">
                   
                    <label class="col-sm-2 control-label">
                        {{ form_label(item) }}
                    </label>
                    <div class ="col-sm-10">
                        {{ form_widget(item) }}
                    </div>
                </div>
                    
            {% endfor %}
        </div>    
            {% for item in form  if item.vars['name'] != '_token' and item.vars['name'] == 'address' %}
                <div>
                    <div class="col-sm-2 control-label">
                        <label class="pull-right" >
                                {{ form_label(item) }}
                        </label>
                    </div>
                    <div class ="col-sm-8">
                        {{ form_start(item) }}
                            {% for subitem in item  if subitem.vars['name'] != '_token' %}
                                <div class="form-group">
                                    <label class="control-label">
                                        {{ form_label(subitem) }}
                                    </label>
                                    <div>
                                        {{ form_widget(subitem) }}
                                    </div>
                                </div>
                            {% endfor %}
                        {{ form_end(form) }}    
                    </div>
                </div>
            {% endfor %}
            <div class="form-horizontal">
                <div class ="form-group">
                    <div class='line-bottom col-sm-2'>
                            <a href="{{ path('event') }}">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
                            </a>
                    </div>
                    <div class= "col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            {{ form_widget(form._token) }}
            </div>
    {{ form_end(form) }}
{% endblock %}
