{% extends "AppBundle:Teacher:layout.html.twig" %}

{% block content -%}
    <h1>Ajout Formation</h1>
        
    <table class="table table-striped ">
        <tbody>
            {#<tr>
                <th>Date</th>
                <td>{{ entity.date | date('d-M-Y') }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ entity.formation.name }}</td>
            </tr>
            <tr>
                <th>Professeur</th>
                <td>{{ entity.teacher.firstName }}</td>
            </tr> #}           
        </tbody>
    </table>
    <form id='myform'  method='POST' action =' {{ path('teacher_save_formation', {'id': entity.id }) }} '>
        <select id='keep-order' multiple='multiple' name='competences[]'>
            {% for formation in formations %}
                <option value='{{ formation.id }}'> {{ formation.name }} </option>
            {% endfor %}
            {% for formationSelected in entity.formations %}
                <option value='{{ formationSelected.id }}' selected> {{ formationSelected.name }} </option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary">            
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Ajout
        </button>        
    </form>
            
    <div class='col-sm-3 line-bottom'>
        <a href="{{ path('teacher') }}">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
        </a>
    </div>
       
{% endblock %}

{%block column_list%}{%endblock%}
{%block column_add%}{%endblock%}